 ---
import type { HeroProps } from "../../types/strapi";
import StrapiImage from "../StrapiImage.astro";
import { localizeHref } from "../../lib/i18n";

interface Props {
  data: HeroProps;
  locale: string; 
}

const {
  data: { heading, text, image, links },
  locale
} = Astro.props;

---

<section class="bg-gray-50 py-12 lg:py-20">
  <div class="container mx-auto px-4">
    
    <div class="grid lg:grid-cols-2 gap-8 items-center">
      <div class="text-center lg:text-left max-w-2xl mx-auto lg:mx-0">
        <h1 class="mb-4 text-4xl lg:text-5xl font-bold">
          {heading}
        </h1>
        <p class="mb-6 text-gray-500">
          {text}
        </p>

        <div class="flex flex-col lg:flex-row gap-3">
          {links && links.map((link) => {
            const isPrimary = link.type === "PRIMARY"
              ? "bg-green-600 hover:bg-green-700 text-white"
              : "bg-white hover:bg-gray-50 text-black";

            return (
              <a
                class={`px-6 py-2 rounded-xl font-semibold transition ${isPrimary}`}
                href={localizeHref(link.href, locale)}
                target={link.isExternal ? "_blank" : "_self"}
              >
                {link.label}
              </a>
            );
          })}
        </div>

      </div>

     
      <div class="flex justify-center">
        <StrapiImage
          src={image.url}
          alt={image.alternativeText}
          height={600}
          width={800}
          class="w-full max-w-lg object-cover rounded-3xl lg:rounded-br-none"
        />
      </div>

    </div>

  </div>
</section>